<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="__IMG__/favicon.png">
<title>{$operate}分类</title>
<!-- Bootstrap core CSS -->
<css href="__JS__/bootstrap/dist/css/bootstrap.css" />
<css href="__FONTS__/font-awesome-4/css/font-awesome.min.css" />
<!-- Custom styles for this template -->
<css href="__CSS__/style.css" />
</head>
<body>
<!-- Nifty Modal -->
<div class="colored-header">
    <div class="modal-content">
        <div class="modal-header">
            <h3>{$operate}分类</h3>
        </div>
        <form action="{:U($type)}" class="form-x"  method="post">
            <div class="modal-body form">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#basics" data-toggle="tab">基础</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="basics">
                            <div class="form-group">
                                <label>栏目名称</label>
                                <select class="form-control" name="to">
                                    <volist name="list" id="vo">
                                        <option value="{$vo.id}">{$vo.html}{$vo.title}</option>
                                    </volist>
                                </select>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="from" value="{$from}">
                <button type="button" class="btn btn-default md-close">关闭</button>
                <button type="submit" class="btn btn-primary ajax-post no-refresh" target-form="form-x" callback="mdclose(parent.layer.getFrameIndex(window.name))">提交</button>
            </div>
        </form>
    </div>
</div>
<js href="__JS__/jquery.js" />
<js href="__STATIC__/layer/layer.js" />
<js href="__JS__/behaviour/web.js" />
<script type="text/javascript">
    $(function(){
        var index = parent.layer.getFrameIndex(window.name);
        $('.md-close').click(function(){
            parent.layer.close(index);
        });
        mdclose = function(index){
            parent.location.reload();
            parent.layer.close(index);
        }
    });
</script>
<js href="__JS__/bootstrap/dist/js/bootstrap.min.js" />
</body>
</html>
