@charset "utf-8";
.impowerBox .qrcode {width: 100px;}
.impowerBox .title {display: none;}
.impowerBox .info {width: 100px;}
.status_icon {displayï¼šnone}
.impowerBox .status {text-align: center;} 