<extend name="Public/base"/>

<block name="header">
    <li class="active"><a href="javascript:;">安装协议</a></li>
    <li class="active"><a href="javascript:;">环境检测</a></li>
    <li class="active"><a href="javascript:;">创建数据库</a></li>
    <li><a href="javascript:;">安装</a></li>
    <li><a href="javascript:;">完成</a></li>
</block>

<block name="body">
    <?php
        defined('SAE_MYSQL_HOST_M') or define('SAE_MYSQL_HOST_M', '127.0.0.1');
        defined('SAE_MYSQL_HOST_M') or define('SAE_MYSQL_PORT', '3306');
        defined('SAE_MYSQL_DB') or define('SAE_MYSQL_DB', 'yunniupin');
        defined('SAE_MYSQL_USER') or define('SAE_MYSQL_USER', 'root');
    ?>
    <h1>创建数据库</h1>
    <form action="__SELF__" method="post" target="_self" class="form-horizontal">
            <div class="form-group">
            	<div class="col-xs-3">
                <select name="db[]" class="form-control">
	                <option>mysql</option>
                </select>
                </div>
                <span>数据库类型</span>
            </div>
            <div class="form-group">
            	<div class="col-xs-3">
                <input type="text" name="db[]" class="form-control" value="<defined name='SAE_MYSQL_HOST_M'>{$Think.const.SAE_MYSQL_HOST_M}<else/>127.0.0.1</defined>">
                </div>
                <span>数据库服务器，数据库服务器IP，一般为127.0.0.1</span>
            </div>
            <div class="form-group">
            	<div class="col-xs-3">
                <input type="text" name="db[]" class="form-control" value="<defined name='SAE_MYSQL_DB'>{$Think.const.SAE_MYSQL_DB}</defined>">
                </div>
                <span>数据库名</span>
            </div>
            <div class="form-group">
            	<div class="col-xs-3">
                <input type="text" name="db[]" class="form-control" value="<defined name='SAE_MYSQL_USER'>{$Think.const.SAE_MYSQL_USER}</defined>">
                </div>
                <span>数据库用户名</span>
            </div>
            <div class="form-group">
            	<div class="col-xs-3">
                <input type="password" name="db[]" class="form-control" value="<defined name='SAE_MYSQL_PASS'>{$Think.const.SAE_MYSQL_PASS}</defined>">
                </div>
                <span>数据库密码</span>
            </div>
            <div class="form-group">
            	<div class="col-xs-3">
                <input type="text" name="db[]" class="form-control" value="<defined name='SAE_MYSQL_PORT'>{$Think.const.SAE_MYSQL_PORT}<else/>3306</defined>">
                </div>
                <span>数据库端口，数据库服务连接端口，一般为3306</span>
            </div>

            <div class="form-group">
            	<div class="col-xs-3">
                <input type="text" name="db[]" class="form-control" value="ynp_">
                </div>
                <span>数据表前缀，同一个数据库运行多个系统时请修改为不同的前缀</span>
            </div>

            <h2>创始人帐号信息</h2>
            <div class="form-group">
            	<div class="col-xs-3">
                <input type="text" name="admin[]" class="form-control" value="admin">
                </div>
                <span>用户名</span>
            </div>
            <div class="form-group">
            	<div class="col-xs-3">
                <input type="password" name="admin[]" class="form-control" value="">
                </div>
                <span>密码</span>
            </div>
            <div class="form-group">
            	<div class="col-xs-3">
                <input type="password" name="admin[]" class="form-control" value="">
                </div>
                <span>确认密码</span>
            </div>
    </form>
</block>

<block name="footer">
    <a class="btn btn-success btn-large" href="{:U('Install/step1')}">上一步</a>
    <button id="submit" type="button" class="btn btn-primary btn-large" onclick="$('form').submit();return false;">下一步</button>
</block>
