<extend name="Public/base"/>
<block name="style">
	<css href="__JS__/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css" />
</block>
<block name="body">
<div>
<div class="page-head">
	<h2>文章</h2>
</div>
<div class="cl-mcont">
	<div class="row">
		<div class="col-md-12">
			<div class="block-flat">
				<div class="header">							
					<h3 class="hthin">{$meta_title}</h3>
				</div>
				<div class="content">
					<div class="tab-container">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#basics" data-toggle="tab">基础</a></li>
							<li><a href="#senior" data-toggle="tab">高级</a></li>
						</ul>
						<form action="{:U()}" class="form-horizontal"  method="post">
						<div class="tab-content">
							<div class="tab-pane active" id="basics">
								<div class="form-group">
									<label class="col-sm-2 control-label">标题</label>
									<div class="col-sm-6">
										<input type="text" name="title" class="form-control" value="{$info.title|default=''}" placeholder="标题"/>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">栏目</label>
									<div class="col-sm-6">
										<select class="form-control" name="category">
											<option value="">选择栏目</option>
											<option value="1">公告</option>
											<option value="2">帮助</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">内容</label>
									<div class="col-sm-10">
										<js href="__STATIC__/ueditor/ueditor.config.js" />
										<js href="__STATIC__/ueditor/ueditor.all.js" />
										<script id="container" name="content" style="width:100%;height:500px;" type="text/plain">{$info.content|htmlspecialchars_decode|stripslashes}</script>
										<script type="text/javascript">
											var ue = UE.getEditor('container',{
												serverUrl :'{:U('Ueditor/Index')}',
           										UEDITOR_HOME_URL:'__STATIC__/ueditor/',
											});
										</script>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="senior">
								<div class="form-group">
									<label class="col-sm-2 control-label">创建时间</label>
									<div class="col-sm-6">
									  <div class="input-group date datetime" data-min-view="2" data-date-format="yyyy-mm-dd">
										<input type="text" name="create_time" class="form-control" value="{$info.create_time|time_format=###,'Y-m-d'}"/>
										<span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
									  </div>					
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">可见性</label>
									<div class="col-sm-6">
										<select class="form-control" name="display">
											<option value="1">可见</option>
											<option value="0">不可见</option>
										</select>
									</div>
								</div>
							</div>
							<input type="hidden" name="id" value="{$info.id|default=''}">
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<button class="btn btn-primary ajax-post" type="submit" target-form="form-horizontal">提 交</button>
								</div>
						  	</div>
						</div>
						</form>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>
</block>
<block name="script">
	<js href="__JS__/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js" />
	<js href="__JS__/bootstrap.datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" />
	<js href="__STATIC__/uploadify/jquery.uploadify.min.js" />
	<script type="text/javascript">
		$(document).ready(function(){
			 $(".datetime").datetimepicker({autoclose: true});
		
			<present name="info.id">
				highlight_subnav('{:U('News/index')}');
				setValue("category", {$info.category|default=1});
			<else/>
				highlight_subnav('{:U('News/add')}');
			</present>	
		});
	</script>
</block>
