<extend name="Public/base"/>

<block name="body">
<div>
<div class="page-head">
	<h2>数据还原</h2>
</div>
<div class="cl-mcont">
	<div class="row">
		<div class="col-md-12">
			<div class="block-flat">
				<div class="header">							
					<h3 class="hthin">{$meta_title}</h3>
				</div>
				<div class="content">
					<table class="no-border blue">
						<thead class="no-border">
						<tr>
							<th>备份名称</th>
							<th style="width:20%;">卷数</th>
							<th style="width:20%;">压缩</th>
							<th style="width:15%;">数据大小</th>
							<th style="width:10%;">备份时间</th>
							<th style="width:10%;">状态</th>
							<th style="width:10%;">操作</th>
						</tr>
						</thead>
						<tbody class="no-border-y">
						<volist name="list" id="data">
						<tr>
							<td>{$data.time|date='Ymd-His',###}</td>
							<td>{$data.part}</td>
							<td>{$data.compress}</td>
							<td>{$data.size|format_bytes}</td>
							<td>{$key}</td>
							<td>-</td>
							<td class="text-right">
								<a data-placement="left" data-toggle="tooltip" data-original-title="还原" class="label label-primary db-import" href="{:U('import?time='.$data['time'])}"><i class="fa fa-download"></i></a>
                				<a data-placement="left" data-toggle="tooltip" data-original-title="删除" class="label label-danger ajax-get" href="{:U('del?time='.$data['time'])}"><i class="fa fa-times"></i></a>
							</td>
						</tr>
						</volist>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</block>
<block name="script">
	<script type="text/javascript">
	$(document).ready(function(){
		highlight_subnav('{:U('Admin/Database/index/type/import')}');
        $(".db-import").click(function(){
            var self = this, status = ".";
            $.get(self.href, success, "json");
            window.onbeforeunload = function(){ return "正在还原数据库，请不要关闭！" }
            return false;
        
            function success(data){
                if(data.status){
                    if(data.gz){
                        data.info += status;
                        if(status.length === 5){
                            status = ".";
                        } else {
                            status += ".";
                        }
                    }
                    $(self).parent().prev().text(data.info);
                    if(data.part){
                        $.get(self.href, 
                            {"part" : data.part, "start" : data.start}, 
                            success, 
                            "json"
                        );
                    }  else {
                        window.onbeforeunload = function(){ return null; }
                    }
                } else {
                    updateAlert(data.info,'alert-danger');
                }
            }
        });
    });
    </script>
</block>