<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="__IMG__/favicon.png">
<title>开奖期</title>
<!-- Bootstrap core CSS -->
<css href="__JS__/bootstrap/dist/css/bootstrap.css" />
<css href="__FONTS__/font-awesome-4/css/font-awesome.min.css" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv-printshiv.js"></script>
    <![endif]-->
<!-- Bootstrap core CSS -->
<css href="__JS__/jquery.nanoscroller/nanoscroller.css" />
<css href="__CSS__/pygments.css" />
<!-- Custom styles for this template -->
<css href="__CSS__/style.css" />
</head>
<body>
<div class="block-flat">
	<div class="col-md-12">
		<div class="nano nscroller" style="height:500px;">
			<div class="content">
				<table class="no-border blue">
					<thead class="no-border">
					<tr>
						<th style="width:20%;">期号</th>
						<th style="width:20%;">状态</th>
						<th style="width:20%;">发布时间</th>
						<th>完成度</th>
					</tr>
					</thead>
					<notempty name="periodlist">
					<tbody class="no-border-y">
					<volist name="periodlist" id="vo">
					<tr>
						<td style="width:20%;">{$vo['no']}</td>
						<td style="width:20%;">{$vo['state']|get_state}</td>
						<td style="width:20%;">{$vo.create_time|time_format=###,"Y-m-d H:i:s"}</td>
						<td>
							<switch name="vo.state">
								<case value="0">
									<div class="progress">
									  <div class="progress-bar progress-bar-success" style="width: {$vo['number']/$price*100}%">{:floor($vo['number']/$price*100)}%</div>
									</div>
								</case>
								<case value="1">
									开奖时间：{$vo.kaijang_time|time_format=###,"Y-m-d H:i:s"}
								</case>
								<default />
									开奖号码：{$vo.kaijang_num} 中奖用户：{$vo['uid']|get_user_name}
							</switch>
						</td>
					</tr>
					</volist>
					</tbody>
					<else/>
					<td colspan="4"> aOh! 暂时还没有内容! </td>
					</notempty>
				</table>
			</div>
		</div>
		<div class="text-center spacer">
			<div class="page">{$_page}</div>
    	</div>
	</div>	
</div>
<js href="__JS__/jquery.js" />
<js href="__JS__/jquery.nanoscroller/jquery.nanoscroller.js" />
<js href="__STATIC__/layer/layer.js" />
<js href="__JS__/behaviour/web.js" />
<js href="__JS__/bootstrap/dist/js/bootstrap.min.js" />
<script type="text/javascript">
$(document).ready(function(){
	$(".nscroller").nanoScroller();
});
</script>
</html>
