<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>发现 - {$web_title}</title>
    <meta name="description" content="{$web_description}" />
    <meta name="keywords" content="{$web_keywords}" />
    <link href="{$web_tplpath}css/oenpay.css" rel="stylesheet">
    <link href="{$web_tplpath}css/cart.css" rel="stylesheet">

    <!--[if lt IE 8]>
	<style type="text/css">
		.searchs {float:left;width:620px}
		.searchs>form {float:left;width:608px;height:35px;display:block}
		.searchs>.hot-search {float:left;display:block;width:608px}
	</style>
	<![endif]-->
  </head>
  <body>
    
  <include file="{$web_tplpath}/header.html" />
	
	<div class="container">
		<volist name="list" id="vo">
		<div class="activity">
			<div class="img"><img src="{:substr($vo['picurl'],1)}"></div>
			<h4>{$vo['title']}</h4>
			<div class="enter">
				<gt name="vo['end_time']" value="$Think.NOW_TIME"><a href="{:U('activity/activity?id='.$vo['id'])}" class="btn btn-yellow">立即参与</a><else/><button class="btn btn-default">活动结束</button></gt>
				
			</div>
			<div class="lines"><i class="icon icon-clock"></i>结束时间 {:time_format($vo['end_time'],'Y-m-d')}</div>
		</div>
		</volist>
	</div>
  	<div class="clear"></div>
  	<include file="{$web_tplpath}footer.html" />
	<script src="{$web_tplpath}js/jquery.min.js"></script>
	<!--[if lt IE 9]>
	<script src="{$web_tplpath}js/jquery.pseudo.js"></script>
	<![endif]-->
  </body>
</html>