<div class="bottom">
	<div class="container">
		<div class="bot-left">
			<h3>
				<span class="icon icon-leanpub"></span>
				新手指南
			</h3>
			<ul>
				<li><a href="{:U('news/more/id/1')}">了解{$web_title}平台</a></li>
				<li><a href="{:U('news/more/id/2')}">服务协议</a></li>
				<li><a href="{:U('news/more/id/3')}">常见问题</a></li>
				<li><a href="{:U('news/more/id/4')}">推广赚钱</a></li>
			</ul>
		</div>
		<div class="bot-left">
			<h3>
				<span class="icon icon-dunpai"></span>
				欢乐保障
			</h3>
			<ul>
				<li><a href="{:U('news/more/id/5')}">公平保障</a>
				</li>
				<li><a href="{:U('news/more/id/6')}">公正保障</a></li>
				<li><a href="{:U('news/more/id/7')}">公开保障</a></li>
				<li><a href="{:U('news/more/id/8')}">安全支付</a></li>
			</ul>
		</div>
		<div class="bot-left">
			<h3>
				<span class="icon icon-truck"></span>
				商品配送
			</h3>
			<ul>
				<li><a href="{:U('news/more/id/9')}">配送费用</a></li>
				<li><a href="{:U('news/more/id/10')}">商品验收与签收</a></li>
				<li><a href="{:U('news/more/id/11')}">发货未收到商品</a></li>
				<li><a href="{:U('news/more/id/12')}">商品配送</a></li>
			</ul>
		</div>
		<div class="bot-left">
			<h3>
				<span class="icon icon-github"></span>
				关于我们
			</h3>
			<ul>
				<li><a href="{:U('news/more/id/13')}">关于我们</a></li>
				<empty name="Think.get.wid">
				<li><a href="{:U('news/more/id/14')}">公司证件</a></li>
				</empty>
			</ul>
		</div>
		<div class="bot-right">
			<div class="bot-gongping">
				<span class="icon icon-zhngpin"></span> <i>100%正品保证</i>
			</div>
			<div class="bot-gongping">
				<span class="icon icon-gongpin"></span> <i>100%公平公正公开</i>
			</div>
			<div class="bot-gongping">
				<span class="icon icon-gongzheng"></span>
				<i>100%权益保障</i>
			</div>
		</div>

		<div class="copyright">
			Copyright &copy; 2015 {$web_title} {$web_url} 版权所有 {$web_icp}
		</div>
	</div>
</div>